extends layout

block scripts
  script(src='https://d3js.org/d3.v3.min.js')
  script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
  script(src='/javascripts/scatterplot.js')
  script(src='/javascripts/getJSON.js')
  script(src='/javascripts/ext/numeric-1.2.6.js')
  script(src='/javascripts/ext/lodash.js')
  script(src='/javascripts/dimReductionMethods.js')
  script.
    $(document).ready(function(){
      rollCallData.semesterList(function (listjson){
        console.log(listjson);
        var pOptions = document.getElementById('propertyType');
        listjson.forEach(function (semester, idx){
          var option = document.createElement('option');
          option.text = semester;
          option.value = idx+1;
          pOptions.add(option, idx+1);
        });
      });
      
      //console.log(rollCallData.semesterFile('2013-1'));
      /*var datasetList = [];
      
      var numDataPoints = 15;  // Number of dummy data points
      var maxRange = Math.random() * 1000;  // Max range of new values
      for(var n=0; n<3; n++)
      {
        var dataset = [];  // Initialize empty array

        for(var i=0; i<numDataPoints; i++) {
          var newNumber1 = Math.floor(Math.random() * maxRange);  // New random integer
          var newNumber2 = Math.floor(Math.random() * maxRange);  // New random integer
          dataset.push({'data': [newNumber1, newNumber2], 'party': 'NI', 'name': 'random'});  // Add new number to array
        }
        datasetList.push(dataset);
      }
      
      
      renderScatterPlot(datasetList[2], document.getElementById('chartdivSammon'));*/
    });
    document.getElementsByTagName('select')[0].onchange = function() {
      var index = this.selectedIndex;
      var inputText = this.children[index].innerHTML.trim();
      if(inputText != "-- Select Semester --"){
        rollCallData.PCAData(inputText, function (json){
          renderScatterPlot(json, document.getElementById('chartdivPCA'));
        });
        rollCallData.MDSData(inputText, function (json){
          renderScatterPlot(json, document.getElementById('chartdivMDS'));
        });
        rollCallData.SammonData(inputText, function (json){
          renderScatterPlot(json, document.getElementById('chartdivSammon'));
        });
      }
    }

block content
  .row
    .container-fluid
      .col-sm-12.col-md-12.main
        h1.page-header Dimensional reduction comparison
        select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
          option(value='0') -- Select Semester --
        .row.placeholders
          .col-sm-4
            h2 PCA
            div(id='chartdivPCA')
          .col-sm-4
            h2 MDS
            div(id='chartdivMDS')
          .col-sm-4
            h2 Sammon Mapping
            div(id='chartdivSammon')
  