extends layout

block scripts
  script(src='https://d3js.org/d3.v3.min.js')
  script(src='/javascripts/scatterplot.js')
  script(src='/javascripts/getJSON.js')
  script(src='/javascripts/ext/numeric-1.2.6.js')
  script(src='/javascripts/dimReductionMethods.js')
  script.
    $(document).ready(function(){
      console.log(document.getElementById("chartdivPCA"));
      /*rollCallData.deputiesList(function (json){
        console.log(json);
      });*/
      //console.log(rollCallData.deputiesList());
      var deputiesList = [];
      rollCallData.semesterFile('2013-1', function (json){
        //console.log(json);
        json.forEach(function (rollCall){
          rollCall.rollVotes.forEach(function (vote){
            if(deputiesList.indexOf(vote.deputyID) < 0) {
              deputiesList.push(parseInt(vote.deputyID))
            }
            //console.log(vote);
          });
          //console.log(item);
        });
        deputiesList.sort(function(a, b) {
          return a - b;
        });
        console.log(deputiesList);

      });
      //console.log(rollCallData.semesterFile('2013-1'));
      var datasetList = [];
      
      var numDataPoints = 15;  // Number of dummy data points
      var maxRange = Math.random() * 1000;  // Max range of new values
      for(var n=0; n<3; n++)
      {
        var dataset = [];  // Initialize empty array
        for(var i=0; i<numDataPoints; i++) {
          var newNumber1 = Math.floor(Math.random() * maxRange);  // New random integer
          var newNumber2 = Math.floor(Math.random() * maxRange);  // New random integer
          dataset.push([newNumber1, newNumber2]);  // Add new number to array
        }
        datasetList.push(dataset);
      }
      renderScatterPlot(datasetList[0], document.getElementById('chartdivPCA'));
      renderScatterPlot(datasetList[1], document.getElementById('chartdivMDS'));
      renderScatterPlot(datasetList[2], document.getElementById('chartdivSammon'));
    });

block content
  .row
    .container-fluid
      .col-sm-12.col-md-12.main
        h1.page-header Dimensional reduction test
        .row.placeholders
          .col-sm-4
            h2.page-header PCA
            div(id='chartdivPCA')
          .col-sm-4
            h2.page-header MDS
            div(id='chartdivMDS')
          .col-sm-4
            h2.page-header Sammon Mapping
            div(id='chartdivSammon')
  