extends layout

block scripts
  script(src='https://d3js.org/d3.v3.min.js')
  script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
  script(src='/javascripts/scatterplot.js')
  script(src='/javascripts/getJSON.js')
  script(src='/javascripts/ext/numeric-1.2.6.js')
  script(src='/javascripts/ext/lodash.js')
  script(src='/javascripts/dimReductionMethods.js')
  script(src='/javascripts/ext/math.js')
  script.
    $(document).ready(function(){
      //console.log(document.getElementById("chartdivPCA"));
      /*rollCallData.deputiesList(function (json){
        console.log(json);
      });*/
      //console.log(rollCallData.deputiesList());
      var rollCallMatrix;
      rollCallData.semesterFile('2013-1', function (json){
        //console.log(json);
        // Getting the deputies which voted in the semester
        var deputiesVotedList = [];
        json.forEach(function (rollCall){
          rollCall.rollVotes.forEach(function (vote){
            if(_.findIndex(deputiesVotedList, function(o){return o.deputyId == parseInt(vote.deputyID)}) < 0) {
              deputiesVotedList.push({'deputyId': parseInt(vote.deputyID), 'party': vote.party});
            }
            //console.log(vote);
          });
          //console.log(item);
        });
        deputiesVotedList.sort(function(a, b) {
          return a.deputyID - b.deputyID;
        });
        //console.log(deputiesVotedList);
        //console.log(deputiesVotedList.length);
        //console.log(json.length);
        rollCallMatrix = new Array(deputiesVotedList.length);
        for(var i = 0; i < rollCallMatrix.length; i++) {
          rollCallMatrix[i] = new Array(json.length).fill(0); 
        }
        
        //console.log(rollCallMatrix);
        // Setting the Matrix
        json.forEach(function (rollCall, idx){
          rollCall.rollVotes.forEach(function (vote){
            rollCallMatrix[_.findIndex(deputiesVotedList, function(o){return o.deputyId == parseInt(vote.deputyID)})][idx] = parseInt(vote.vote);
          });
        });
        console.log(rollCallMatrix);

        var deputiesPCACoordinates = dimReducMethods.PCA(rollCallMatrix);
        var PCAscatterData = [];
        for(var i = 0; i < deputiesPCACoordinates.length; i++) {
          PCAscatterData.push({'data': deputiesPCACoordinates[i], 
                               'party': deputiesVotedList[i].party,
                               'name': deputiesVotedList[i].deputyId});
        }
        renderScatterPlot(PCAscatterData, document.getElementById('chartdivPCA'));

        dimReducMethods.MDS(rollCallMatrix);
        /*var deputiesMDSCoordinates = dimReducMethods.MDS(rollCallMatrix);
        var MDSscatterData = [];
        for(var i = 0; i < deputiesMDSCoordinates.length; i++) {
          MDSscatterData.push({'data': deputiesMDSCoordinates[i], 
                               'party': deputiesVotedList[i].party,
                               'name': deputiesVotedList[i].deputyId});
        }*/

      });
      //console.log(rollCallData.semesterFile('2013-1'));
      var datasetList = [];
      
      var numDataPoints = 15;  // Number of dummy data points
      var maxRange = Math.random() * 1000;  // Max range of new values
      for(var n=0; n<3; n++)
      {
        var dataset = [];  // Initialize empty array

        for(var i=0; i<numDataPoints; i++) {
          var newNumber1 = Math.floor(Math.random() * maxRange);  // New random integer
          var newNumber2 = Math.floor(Math.random() * maxRange);  // New random integer
          dataset.push({'data': [newNumber1, newNumber2], 'party': 'NI', 'name': 'random'});  // Add new number to array
        }
        datasetList.push(dataset);
      }
      
      renderScatterPlot(datasetList[1], document.getElementById('chartdivMDS'));
      renderScatterPlot(datasetList[2], document.getElementById('chartdivSammon'));
    });

block content
  .row
    .container-fluid
      .col-sm-12.col-md-12.main
        h1.page-header Dimensional reduction comparison
        .row.placeholders
          .col-sm-4
            h2 PCA
            div(id='chartdivPCA')
          .col-sm-4
            h2 MDS
            div(id='chartdivMDS')
          .col-sm-4
            h2 Sammon Mapping
            div(id='chartdivSammon')
  