extends ../node_modules/pug-bootstrap/_bootstrap


block head
  title='Dimension reduction test'
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  


block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href='/') Project name

      ul.nav.navbar-nav
        li: a(href='#') Home
        li: a(href='#about') About

  block content
