body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.axis line {
  stroke: #222;
}
.axis path {
  fill: none;
  stroke: #222;
}
.axis + .axis g text {
  display: none;
}
#clearfooter {
  height: 200px;
}
